# Site hospedado
TELEMETRY_TOKEN=gere-um-token-longo-e-aleatorio
ANALYTICS_SALT=gere-outro-valor-longo-e-aleatorio
ADMIN_USER_IDS=id-da-conta-administradora
ADMIN_EMAILS=

# Detector Python local
PONTE_WEB_API_URL=https://seu-site.example/api/traffic
PONTE_WEB_TELEMETRY_TOKEN=use-o-mesmo-valor-de-TELEMETRY_TOKEN
